@(person: Form[CreatePersonForm])(implicit messages: Messages)

@import helper._

@main("Ethical Advisor Tool") {



<div id="header">
<h1>Ethical Advisor</h1>
</div>

<div id="nav">


<input type="file" id="fileinput" />
<script type="text/javascript">
  function readSingleFile(evt) {
    //Retrieve the first (and only!) File from the FileList object
    var f = evt.target.files[0]; 
    if (f) {
      var r = new FileReader();
      r.onload = function(e) { 
	      var contents = r.result;
          
          
           $('#aboutDescription').val(contents) 
      }
      r.readAsText(f);
    } else { 
      alert("Failed to load file");
    }
  }
  document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
</script>


<script type="text/javascript">
 function myTestGetFunction() {
  $(function()
    {
        $.get("/entities", function(data, textStatus)
        {
                alert("Done, with the following status: " + textStatus + "Here is the response: " + data);
        });
    }
   );
};

</script>

<!-- This is a comment --> 
 <!-- <button onclick="myTestGetFunction()"><p style="font-size:12px">Compile</p></button> --> 
 
 <script type="text/javascript">
 function myCompileFunction() {
  $(function()
    {
        var fileDisplayArea = document.getElementById('aboutDescription');
        var contents = fileDisplayArea.textContent;
        
        $.post("/entityJSON",
        {
                model: $('#aboutDescription').val(),
                age: [[1, 2], [3, 4]]
                
        },
        function(data, textStatus)
        {
               // alert("Response from server: " + data.name + "  "+ data.nodes[0] + 
               //"  " + data.adjList[0].name + " " + data.adjList[0].edgeWeights);
                
                var nodedata = new vis.DataSet();
                var edges = new vis.DataSet();
                
                for (i=0; i < data.nodes.length; i++) {
                    if (data.activations[i] > 0.25) {
                        nodedata.add({id: i, label: data.nodes[i], color:'red'});
                    } else {
                        nodedata.add({id: i, label: data.nodes[i]});
                    }
                }
                
                for (i=0; i < data.nodes.length; i++) {
                    for (j=0; j<data.nodes.length; j++) {
                        if (data.adjList[i].edgeWeights[j] > 0.0) {
                            edges.add({from: i, to: j});
                        }
                    }
                }
                
                var container = document.getElementById('mynetwork');
                var data = {
                    nodes: nodedata,
                    edges: edges
                };
                var options = {
                    edges: {
                    arrows: 'to',
                }
            };
                var network = new vis.Network(container, data, options);
            
        });
    });
};

</script>
 
 


<button onclick="myCompileFunction()"><p style="font-size:12px">Compile</p></button>


<script type="text/javascript">
 function myTestPostFunction() {
  $(function()
{
        $.post("/entity",
        {
                name: "John Doe",
                age: [[1, 2], [3, 4]]
                
        },
        function(data, textStatus)
        {
                alert("Response from server: " + data.name + "  " + data.price);
        });
});


};

</script>


<button onclick="myTestPostFunction()"><p style="font-size:12px">Visualize Network</p></button>

<!--
<form name="myForm" id="testForm">
    <input type="text" name="first_name" value="" />
    <input type="text" name="last_name" value="" />
    <input type="button" id="submit1" value="Submit by Form ID1" />
    <input type="button" id="submit2" value="Submit by Form ID2" />
    <input type="button" id="submit3" value="Submit by Form ID3" />
</form>

<script>
$(document).ready(function(){
    $("#submit1").click(function() {
        $.post("/entity", items,
        function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
    });
    });

    
    $("#submit2").click(function() {
    $.ajax({
    url : "/entityJSON",
    type: "POST",
    contentType: "application/form-url-encoded",
    dataType: "application/json",
    data: {
                name: "John Doe",
                age: [[1, 2], [3, 4]]
                
        },
    success: function(mydata, status)
    {
        alert("Data received " + mydata.symbol + mydata.price);
    },
    error: function( jqXhr, textStatus, errorThrown ){
        alert(errorThrown);
    }
    });
    });   
    
    $("#submit3").click(function() {
    $.ajax({
    url : "/entityJSONs",
    type: "GET",
    dataType: "json",
    success: function(data, status)
    {
        alert("Data received " + data.symbol + data.price);
    },
    error: function( jqXhr, textStatus, errorThrown ){
        alert(errorThrown);
    }
    });
    });   
    
    
    
});   

</script>

-->



<button onclick="myFunction()"><p style="font-size:12px">Compute Active Nodes</p></button>
<button onclick="myFunction()"><p style="font-size:12px">Simulate</p></button>



<script type="text/javascript">
  function clearModel() {
        $('#aboutDescription').val("");
       
  }
  
</script>



<button onclick="clearModel()"><p style="font-size:12px">Clear Model</p></button>
<button onclick="myFunction()"><p style="font-size:12px">Clear Console</p></button>

</div>

<div id="section">
<script>
  var canvas = document.querySelector("canvas");
  var context = canvas.getContext("2d");
</script>
<div id="mynetwork"></div>


</div>

<div id="aside">
<textarea rows="35" cols="55" id="aboutDescription"
style="resize: none;" data-role="none"></textarea>
</div>

<div id="footer">
Console

</div>

<br>

	<script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

	<ul id="persons"></ul>

  @form(routes.PersonController.addPerson()) {
		@inputText(person("name"))
		@inputText(person("age"))

		<div class="buttons">
			<input type="submit" value="Add Person"/>
		</div>
	}
}
