@import helper._

@main("Ethical Advisor Tool") {

<div id="header">
<h1>Ethical Advisor</h1>
</div>

<div id="nav">


<input type="file" id="fileinput" />
<script type="text/javascript">
  function readSingleFile(evt) {
    //Retrieve the first (and only!) File from the FileList object
    var f = evt.target.files[0]; 
    if (f) {
      var r = new FileReader();
      r.onload = function(e) { 
	      var contents = r.result;
          
          
           $('#aboutDescription').val(contents) 
      }
      r.readAsText(f);
    } else { 
      alert("Failed to load file");
    }
  }
  document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
</script>


<script type="text/javascript">
 function myTestGetFunction() {
  $(function()
    {
        $.get("/entities", function(data, textStatus)
        {
                alert("Done, with the following status: " + textStatus + "Here is the response: " + data);
        });
    }
   );
};

</script>

<!-- This is a comment --> 
 
 

<script type="text/javascript">
 function visualizeFunction() {
  $(function()
    {
        var fileDisplayArea = document.getElementById('aboutDescription');
        var contents = fileDisplayArea.textContent;
        
        $.post("/entityJSON",
        {
                model: $('#aboutDescription').val(),
                age: [[1, 2], [3, 4]]
                
        },
        function(data, textStatus)
        {
               // alert("Response from server: " + data.name + "  "+ data.nodes[0] + 
               //"  " + data.adjList[0].name + " " + data.adjList[0].edgeWeights);
                
                var nodedata = new vis.DataSet();
                var edges = new vis.DataSet();
                
                for (i=0; i < data.nodes.length; i++) {
                    if (data.activations[i] > 0.25) {
                        nodedata.add({id: i, label: data.nodes[i], color:'red'});
                    } else {
                        nodedata.add({id: i, label: data.nodes[i]});
                    }
                }
                
                for (i=0; i < data.nodes.length; i++) {
                    for (j=0; j<data.nodes.length; j++) {
                        if (data.adjList[i].edgeWeights[j] > 0.0) {
                            edges.add({from: i, to: j, color: 'black', min: 1, max: 15, value:1 });
                        }
                        else if (data.adjList[i].edgeWeights[j] < 0.0)
                        {
                            edges.add({from: i, to: j, color: 'black', min: 1, max: 15, value:8 });
                        }
                    }
                }
                
                var container = document.getElementById('mynetwork');
                var netdata = {
                    nodes: nodedata,
                    edges: edges
                };
                var options = {
                    edges: {
                    //arrows: 'to',
                }
            };
                var network = new vis.Network(container, netdata, options);
                //$('#outputDescription').val("");
                var outText = $('#outputDescription').val();
                outText += "\r\nNode activation values:\r\n";
                
                for (i=0; i<data.nodes.length; i++) {
                    outText += "Node name " + data.nodes[i] + " ";
                    outText += "activation= " + data.activations[i] + " \r\n";
                }
 
          
                $('#outputDescription').val(outText);
        });
    });
};

</script>


<button onclick="visualizeFunction()"><p style="font-size:12px">Visualize Network</p></button>



<script type="text/javascript">
 function computeActiveNodes() {
  $(function()
    {
        var fileDisplayArea = document.getElementById('aboutDescription');
        var contents = fileDisplayArea.textContent;
        
        $.post("/updateJSON",
        {
                model: $('#aboutDescription').val(),
                age: [[1, 2], [3, 4]]
                
        },
        function(data, textStatus)
        {
               // alert("Response from server: " + data.name + "  "+ data.nodes[0] + 
               //"  " + data.adjList[0].name + " " + data.adjList[0].edgeWeights);
                
                var nodedata = new vis.DataSet();
                var edges = new vis.DataSet();
                
                for (i=0; i < data.nodes.length; i++) {
                    if (data.activations[i] > 0.25) {
                        nodedata.add({id: i, label: data.nodes[i], color:'red'});
                    } else {
                        nodedata.add({id: i, label: data.nodes[i]});
                    }
                }
                
                for (i=0; i < data.nodes.length; i++) {
                    for (j=0; j<data.nodes.length; j++) {
                        if (data.adjList[i].edgeWeights[j] > 0.0) {
                            edges.add({from: i, to: j, color: 'black', min: 1, max: 15, value:1 });
                        }
                        else if (data.adjList[i].edgeWeights[j] < 0.0)
                        {
                            edges.add({from: i, to: j, color: 'black', min: 1, max: 15, value:8 });
                        }
                    }
                }
                
                var container = document.getElementById('mynetwork1');
                var netdata = {
                    nodes: nodedata,
                    edges: edges
                };
                var options = {
                    edges: {
                    //arrows: 'to',
                }
            };
                var network = new vis.Network(container, netdata, options);
                //$('#outputDescription').val("");
                var outText = $('#outputDescription').val();
                outText += "\r\nNode activation values:\r\n";
                
                for (i=0; i<data.nodes.length; i++) {
                    outText += "Node name " + data.nodes[i] + " ";
                    outText += "activation= " + data.activations[i] + " \r\n";
                }
 
          
                $('#outputDescription').val(outText);
        });
    });
};

</script>


<button onclick="computeActiveNodes()"><p style="font-size:12px">Compute Active Nodes</p></button>

<script type="text/javascript">
 
  function mySimulateFunction() {
        
        var nodedata = new vis.DataSet();
        var edges = new vis.DataSet();
        
        var nodeCount = 20;
	  	for (i=0; i < nodeCount; i++) {
			nodedata.add({id: i, label: "N"});
		}
	  
	  	for (i=0; i< nodeCount; i++) {
			for (j=0; j < nodeCount; j++) {
				var  x=Math.random();
					if (x < 0.25) {
						edges.add({from: i, to: j});
							  
					}
				}
		}
				
	  			
        var container = document.getElementById('mynetwork');
        var netdata = {
            nodes: nodedata,
            edges: edges
        };
        var options = {
            edges: {
                 //arrows: 'to',
            }
        };
       var network = new vis.Network(container, netdata, options);
               
        var outText = $('#outputDescription').val();
        outText += "\r\nNode activation values:\r\n";
                

        $('#outputDescription').val(outText);
       
  }
  
</script>
	
	



<button onclick="mySimulateFunction()"><p style="font-size:12px">Simulate</p></button>




<script type="text/javascript">
  function clearModel() {
        $('#aboutDescription').val("");
       
  }
  
</script>



<button onclick="clearModel()"><p style="font-size:12px">Clear Model</p></button>


<script type="text/javascript">
  function clearConsole() {
        $('#outputDescription').val("");
       
  }
  
</script>

<button onclick="clearConsole()"><p style="font-size:12px">Clear Console</p></button>

</div>

<div id="section">
<div id="mynetwork"></div>
<div id="mynetwork1"></div>
</div>

<!-- This is a comment  
<div id="section">
<textarea rows="35" cols="55" id="aboutDescription"
style="resize: none;" data-role="none"></textarea>
</div>-->
<br>
<div id="section">

<iframe src="http://localhost:8080" width="1150" height="900" ></iframe>
</div>


<div id="footer">
Compiled Specification

<br>

<textarea rows="15" cols="150" id="aboutDescription"
style="resize: none;" data-role="none"></textarea>

<br>

Console

<br>
<textarea rows="15" cols="150" id="outputDescription"
style="resize: none;" data-role="none"></textarea>



</div>





<br>
}